header{
    color: white;
}

.icon-inv{
    margin-left: -60px;
    width: 10%;
    height: auto;
}

.l1{
    border-left: 3px solid rgb(255, 255, 255);
    height: 70px;
}

.logout-inv{
    margin-top: 10px;
    margin-left: 850px;
    background-color: white;
    border-radius: 50px;
}

.man-inv{
    margin-top: 10px;
    background-color: white;
    border-radius: 50px;
}

.menu{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    color: black;
    display: flex;
    height: 100px;
    background-color: white;
}

.edit-field{
    padding-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-field{
    margin-top: -15px;
    margin-bottom: 10px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-name{
    padding-left: 10px;
    border-radius: 20px;
    height: 40px;
    width: 700px;
} 
.item-quantity,
.item-price{
    padding-left: 10px;
    border-radius: 20px;
    height: 40px;
}

.save-btn2{
    color: black;
    width: 100px;
    height: 40px;
    background-color: rgb(58, 212, 58);
    border-radius: 50px;
}