body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/bg.png");
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
}

.search-bar {
  padding-left: 20px;
  margin-left: 10px;
  background-color: #c6c1bc;
  width: 500px;
  height: 50px;
  border-radius: 30px;
}

.container {
  padding: 0 20px;
  display: flex;
}

.menu {
  padding-left: 10px;
  padding-right: 10px;
  width: 1000px;
  color: black;
  background-color: white;
}

.item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.cart {
  position: absolute;
  right: 40px; /* Adjust the position as needed */
  top: 100px; /* Adjust the position as needed */
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.checkout-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  float: right;
}

.checkout-btn:hover {
  background-color: #45a049;
}
